.DS_Store
.dart_tool/
.idea/
.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.vscode/
example/coverage/
CUSTOM_DOMAIN_SETUP.md
DOCUSAURUS_SETUP.md*
.tmp_integration_*
.junie
.flutter-plugins-dependencies
.zuraffa/plans
.flutter-plugins-dependencies
